.errorMessage {
    display: flex;
    justify-content: center;
    margin: 100px auto;
    color: red;
    font-size: 30px;
    max-width: 500px;
    text-align: center;
}

.staffTitle {
    text-align: center;
    margin: 50px;
    font-size: 40px;
    font-weight: bold;
}

#staff {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 250px;
    text-align: center;
}