
  body {
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  }
  
  .menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu > li {
    margin-right: 20px;
  }
  
  .menu a {
    text-decoration: none;
    color: black;
  }
  
  .dropdown .submenu {
      display: none;
      position: absolute;
      background-color: #fff;
      min-width: 100px;
      min-height: 50px;
      padding: 20px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
  
  .dropdown:hover .submenu {
    display: block;
  }
  
  #hamburger-menu {
    display: none;
    cursor: pointer;
  }

  .quick-access a {
     text-decoration: none;
     color: #000;
     margin-right: 10px;
  }

  .menu a:hover {
    text-decoration: underline;
    color: #00C871;
  }

  .submenu li {
    list-style-type: none;
    padding: 5px 0;
  }

  #hamburger-menu span {
    display: block;
    height: 3px;
    width: 30px;
    margin: 5px 0;
    background-color: black;
  }

  .intro-section {
      display: flex;
      width: 90%;
      margin: 5% auto;
      justify-content: space-between;
      gap: 10px;
  }

  .intro-section img {
      max-width: 100%;
  }

  .lf-flex h3 {
    font-size: 32px;
    text-transform: capitalize;
    color: #00C871;
  }

  .lf-flex p {
    font-size: 22px;
  }

  .lf-flex button {
      background-color: transparent;
      border: 2px solid #00C871;
      border-radius: 0;
      color: #00C871;
      cursor: pointer;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.5px;
      padding: 10px 15px;
      margin: 5% 0;
      text-align: center;
      text-transform: capitalize;
      position: relative;
      overflow: hidden;
      z-index: 1;
      -webkit-transition: color 150ms ease-in-out;
      transition: color 150ms ease-in-out;
  }

  .lf-flex button:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: #00C871;
    z-index: -1;
    -webkit-transition: width 150ms ease-in-out;
    transition: width 150ms ease-in-out;
  }
  .lf-flex button:hover {
    color: #fff;
  }
  .lf-flex button:hover:after {
    width: 110%;
  }
  .lf-flex p span {
    font-weight: 600;
    color: #00C871;
  }

  /* Slider */
  
  /* End Slider   */
  
  @media (max-width: 768px) {
    .menu {
      display: none;
    }
  
    #hamburger-menu {
      display: block;
    }

    #navbar {
        order: 1;
    }

    .intro-section {
      display: flex;
      flex-direction: column;
    }

    .lf-flex h3 {
      font-size: 26px;
    }

    .lf-flex p {
      font-size: 16px;
    }
  }
  